# ===============================
# Build outputs (DO NOT COMMIT)
# ===============================
dist/css/
dist/js/

# ===============================
# Compiled CSS from SCSS
# ===============================
*.css
*.css.map

# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/
node_modules/
