@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
}
